## Content
- datetime numpy
- datetime pandas
- pvalue

## NumPy datetime64 type

If we're given data consisting of date and/or time, we have two ways for storing it:
- as a string
- as a Numpy datetime64 object

We prefer using the Numpy datetime64 format, because we get additional functionalities, that we don't have on treating it as a string.

**Note:**
- `64` in `datetime64` means that 64 bits are used to store the date and time

### Format

Different countries write dates differently, for example,
- In Europe, 06/10/18 is the 6th October and in America it’s June 10th.

So, we need a standardized input for our functions. Thankfully, a global standard already exists ISO 8601.

The basics are:

- `YYYY-MM-DD`: for dates,
 - so 2018-10-06 is 6th October 2018
- `hh:mm:ss`: for times,
 - so 13:21:40 is 13:21 (1.21 pm) and 40 seconds
- For milliseconds use a `full-stop (.)`,
 - 13:21:40.3 (adding on 3 milliseconds).

To input this to NumPy, we can either
- Put a `space` between the date and time
 - '2019-10-23 13:21'
- Or put a capital T between them
 -  '2019-10-21T13:21'

In [ ]:
import numpy as np

In [ ]:
# 22nd November 2000 can be written as
np.datetime64('2000-11-22')

numpy.datetime64('2000-11-22')

In [ ]:
# 7th June 1987 at 16:22:44 (twenty two minutes past four in the afternoon and forty four seconds)
np.datetime64('2000-11-22 16:22:44')

numpy.datetime64('2000-11-22T16:22:44')

### Accessing parts of datetime64 object
Suppose we have a datetime object, and we wish to know which month this date lies in.

Given a specific datetime, you can change it to a specific time unit by entering it as a second parameter.

In [ ]:
datetime = np.datetime64('2000-11-22 16:22:44')
day = np.datetime64(datetime, 'D')
month = np.datetime64(datetime, 'M')

month, day

(numpy.datetime64('2000-11'), numpy.datetime64('2000-11-22'))

### Datetime Arithmetic

#### Q. What comes next after 12pm on 12th December 1999?

Depending on the time unit you are counting in, it could be anything:

- Counting forwards in hours: 1pm on 12th December 1999
- Counting backwards in days: 12pm on 11th December 1999
- Counting forwards in years: 12th December 2000

Each np.datetime64 object has a time unit associated with it.
- So if we '+ 5' to our ‘day’ object, we will go forwards 5 days.
- And if we '- 5' from our month object, we’ll go backwards 5 months:

In [ ]:
day + 5

numpy.datetime64('2000-11-27')

In [ ]:
month - 5

numpy.datetime64('2000-06')

## Pandas datetime

A pandas Timestamp is a moment in time very similar to a datetime but with much more functionality.

You can construct them with either `pd.Timestamp` or `pd.to_datetime`.

In [ ]:
import pandas as pd

In [ ]:
#defaults to nanoseconds
pd.Timestamp(1239.1238934)

Timestamp('1970-01-01 00:00:00.000001239')

In [ ]:
# change units
pd.Timestamp(1239.1238934, unit='D')

Timestamp('1973-05-24 02:58:24.389760')

In [ ]:
# partial strings work
pd.Timestamp('2017-10-24 05')

Timestamp('2017-10-24 05:00:00')

`pd.to_datetime` works very similarly (with a few more options) and can convert a list of strings into Timestamps.

In [ ]:
date = pd.to_datetime('2017-10-24 05')
date

Timestamp('2017-10-24 05:00:00')

In [ ]:
pd.to_datetime(['2017-1-1', '2017-1-2'])

DatetimeIndex(['2017-01-01', '2017-01-02'], dtype='datetime64[ns]', freq=None)

We can access different parts of this date time using the respective keyword as a feature name.

In [ ]:
date.year

2017

In [ ]:
date.day

24

> **Q. But what if we want to know the name of the month or the day of the week on that date ?**

We can find it using `month_name()` and `day_name()` methods

In [ ]:
date.month_name()

'January'

In [ ]:
date.day_name()

'Friday'

In [ ]:
date.dayofweek

4

In [ ]:
date.hour

21

... and so on

- We can similarly extract minutes and seconds

<br>

To create a sequence of dates, you can use the `pd.date_range()` method. Let’s try it in the snippet:

In [ ]:
week = pd.date_range('2022-2-7', periods=7)
for day in week:
    print('{}-{}\t{}'.format(day.day_of_week, day.day_name(), day.date()))

0-Monday	2022-02-07
1-Tuesday	2022-02-08
2-Wednesday	2022-02-09
3-Thursday	2022-02-10
4-Friday	2022-02-11
5-Saturday	2022-02-12
6-Sunday	2022-02-13

## pvalue

- A p-value is a **statistical measurement** used to validate a hypothesis against observed data.

- A p-value measures the probability of obtaining the observed results, assuming that the null hypothesis is true.
- The lower the p-value, the greater the statistical significance of the observed difference.
- A p-value of **0.05** or lower is generally considered statistically significant.
- P-value can serve as an alternative to or in addition to preselected confidence levels for hypothesis testing.

When researchers identify an apparent relationship between two variables, there is always a possibility that this correlation might be a coincidence.

A p-value calculation helps determine if the observed relationship could arise as a result of chance.

## Further Reading
- Pandas datetime: https://towardsdatascience.com/working-with-datetime-in-pandas-dataframe-663f7af6c587